# Requirements pour le projet d'analyse Big Data de consommation électrique
# Projet : Analyse Big Data de la Consommation Électrique
# Auteur : Maxime BRONNY
# Version : V1

# Bibliothèques de manipulation et analyse de données
pandas>=1.3.0
numpy>=1.21.0

# Bibliothèques de visualisation
matplotlib>=3.4.0,<4.0.0
seaborn>=0.11.0,<1.0.0

